<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>
          <a href="https://willgrant.org">Will Grant is a User Experience (UX) professional based in the United Kingdom</a> with over 20 years of experience, including as a practitioner and strategic director. Will has an extensive background in overseeing the design, accessibility, and usability of web and mobile products that have reached a global audience of over a billion users.
        </p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

    <div class="social-links" style="text-align: center;">
      <br />
      <p>This site collects no analytics and calls no third-party scripts. 🖤 Licenced under <a href="https://creativecommons.org/licenses/by-nc/2.0/">Creative Commons CC-BY-NC</a>. The opinions expressed in posts are the personal opinions of the author and do not represent the opinions of any employer or affiliated organisation.</p> <span class="herenow">1 user here now</span>.
    </div>

  </div>
<script src="https://wgx.github.io/herenow/herenow.min.js" defer></script>
</footer>
