// Placeholder to allow overriding predefined variables smoothly.

$background-color: #fdfdfd;
$text-color: #000000;
$base-font-family: "Atkinson Hyperlegible", sans-serif;
$code-font-family: "Atkinson Hyperlegible Mono", monospace;
