// Placeholder to allow overriding predefined variables smoothly.

$background-color: #fdfdfd;
$text-color: #000000;
$title-font-family: ui-serif, Georgia, Cambria, "Times New Roman", serif;
$base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
$code-font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
