<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
        body {
            background-color: black;
            color: #eee;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">blog.willgrant.org</h1>
    <div style="text-align: center">{{ content }}</div>

    <ul class="post-list">
      {% for post in site.posts %}
          <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          </li>
      {% endfor %}
      </ul>

    <div style="text-align: center">&copy; {{ page.copyright }}</div>
  </body>
</html>
